<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.mapper.AdminMapper">


    <update id="batchResetPassword">
        update user
        set password = #{password}
        where id in
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <select id="getLostFoundByPage" resultType="com.school.entity.LostFound">
        SELECT * FROM lostfound
        <where>
            <if test="keyword != null and keyword != ''">
                AND (title LIKE CONCAT('%', #{keyword}, '%') OR place LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="type != null and type != ''">
                AND type = #{type}
            </if>
            <if test="state != null and state != ''">
                AND state = #{state}
            </if>
        </where>
        ORDER BY pub_date DESC
        LIMIT #{offset}, #{pageSize}
    </select>


    <select id="getAllLostFoundCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM lostfound
        <where>
            <if test="type != null and type != ''">
                AND type = #{type}
            </if>
        </where>

    </select>
    <select id="getLostFoundCountByCondition" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM lostFound
        <where>
            <if test="type != null and type != ''">
                AND type = #{type}
            </if>
            <if test="state != null and state != ''">
                AND state = #{state}
            </if>
        </where>
    </select>
</mapper>