<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.mapper.AdminMapper">


    <update id="batchResetPassword">
        update user
        set password = #{password}
        where id in
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <select id="getLostPage" resultType="com.school.entity.Lost">
        SELECT * FROM lost
        <where>
            <if test="keyword != null and keyword != ''">
                AND (title LIKE CONCAT('%', #{keyword}, '%') OR place LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
        ORDER BY pub_date DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="getLostCount" resultType="int">
        SELECT COUNT(*) FROM lost
        <where>
            <if test="keyword != null and keyword != ''">
                AND (title LIKE CONCAT('%', #{keyword}, '%') OR place LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </select>
</mapper>