<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.mapper.LostFoundMapper">
    <insert id="addLostFound" useGeneratedKeys="true" keyProperty="id">
        insert into lostFound (title, img, pub_date, content, place, phone, state, stick, lostfoundtype_id, user_id,type)
        VALUES (#{lostFound.title}, #{lostFound.img}, #{lostFound.pub_date}, #{lostFound.content}, #{lostFound.place}, #{lostFound.phone},
                #{lostFound.state}, #{lostFound.stick}, #{lostFound.lostfoundtypeId}, #{lostFound.user_id},#{lostFound.type})

    </insert>
    <update id="updateState">
        update lostFound
        set state=#{state}
        where id = #{id}
    </update>


    <select id="selectByTypeId" resultType="com.school.entity.LostFound">
        select *
        from lostFound
        where lostfoundtype_id = #{lostfoundtypeId}
          and state = '寻找中' or state='待认领'
        order by pub_date desc
    </select>
    <select id="searchUserNameId" resultType="java.lang.String">
        select nickname
        from user
        where id = #{id}
    </select>
    <select id="getLostFoundListById" resultType="com.school.entity.LostFound">
        select *
        from lostFound
        where user_id = #{user_id}
        order by pub_date desc
    </select>
    <select id="getAllList" resultType="com.school.entity.LostFound">
        select id,
               title,
               img,
               pub_date,
               content,
               place,
               phone,
               state,
               stick,
               user_id
        from lostFound
        where state = '未找到'
    </select>
    <select id="showTopList" resultType="com.school.entity.LostFound">
        select *
        from lostFound
        where stick = #{stick}
          and state = '寻找中' or state='待认领'
    </select>

</mapper>