<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.mapper.LostFoundTypeMapper">


    <select id="GetAll" resultType="com.school.entity.LostFoundType">
        select id, name
        from lostfoundtype
    </select>
    <select id="getAllType" resultType="java.lang.String">
        select name
        from lostfoundtype
    </select>
    <select id="typeIdByName" resultType="java.lang.Integer">
        select id
        from school_app.lostfoundtype
        where name = #{name}
    </select>
</mapper>