<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.mapper.PointHistoryMapper">

    <insert id="insert" parameterType="com.school.entity.PointHistory">
        INSERT INTO point_history (user_id, type, points_changed, description, create_time)
        VALUES (#{user_id}, #{type}, #{points_changed}, #{description}, NOW())
    </insert>

    <select id="selectByUserId" resultType="com.school.entity.PointHistory">
        SELECT * FROM point_history WHERE user_id = #{user_id} ORDER BY create_time DESC
    </select>
</mapper>